<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-container">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/banner.jpg"></ion-img>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Welcome to Bhilwara</ion-card-subtitle>
        <ion-card-title>Who we are</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.
            Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
